.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
}

h1 {
    font-size: 25px;
    text-shadow: 2.5px 3px 3px black;
    color: rgb(223, 216, 216);
}

p {
    font: 12px;
}

.dropdown {
    position: relative;
    cursor: pointer;
}
select {
    width: 200px;
    border-radius: 15px;
    border: none;
    height: 30px;
    padding-left: 20px;
    box-shadow: 1px 1px 0px 0px rgb(219, 213, 213),
    4px 4px 5px 0px rgb(39, 27, 27),
    7px 7px 20px 0px rgba(0,0,0,.4),
    4px 4px 5px 0px rgba(0,0,0,.3);
}

button {
    width: 95px;
    height: 30px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 700;
    color: whitesmoke;
    background: linear-gradient(0deg, rgba(22,9,240,1) 20%, rgba(49,110,244,1) 40%);
    margin: 15px;
    box-shadow: 0px 0px 0px 0px rgb(219, 213, 213),
    4px 4px 5px 0px rgb(39, 27, 27),
    7px 7px 20px 0px rgba(0,0,0,.4),
    4px 4px 5px 0px rgba(0,0,0,.3);
}

button:hover {
    background: green;
    color: rgb(94, 236, 229);
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    transition: all cubic-bezier(0.39, 0.575, 0.565, 1);
}